<div class="container mb-5">
  <div class="row row-grid">
    <div class="col-lg-3">
      <app-user-settings></app-user-settings>
    </div>
    <div class="col-lg-9">
      <div class="col-lg-9 order-lg-2">
        <form [formGroup]="passwordForm" (ngSubmit)="passwordFormSubmit()">
          <!-- Password -->
          <div class="actions-toolbar py-2 mb-4">
            <h5 class="mb-1">Change password</h5>
            <p class="text-sm text-muted mb-0">
              You can help us, by filling your data, create you a much better
              experience using our website.
            </p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Old password</label>
                <input
                  class="form-control"
                  type="password"
                  formControlName="oldPassword"
                  required
                />
                <div
                  class="alert alert-danger mt-2"
                  role="alert"
                  *ngIf="
                    passwordForm.controls.oldPassword?.invalid &&
                    (passwordForm.controls.oldPassword?.dirty ||
                      passwordForm.controls.oldPassword?.touched)
                  "
                >
                  <div
                    *ngIf="passwordForm.controls.oldPassword?.errors?.required"
                  >
                    Old password is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">New password</label>
                <input
                  class="form-control"
                  type="password"
                  formControlName="newPassword"
                  required
                />
                <div
                  class="alert alert-danger mt-2"
                  role="alert"
                  *ngIf="
                    passwordForm.controls.newPassword?.invalid &&
                    (passwordForm.controls.newPassword?.dirty ||
                      passwordForm.controls.newPassword?.touched)
                  "
                >
                  <div
                    *ngIf="passwordForm.controls.newPassword?.errors?.required"
                  >
                    Password is required.
                  </div>
                  <div
                    *ngIf="passwordForm.controls.newPassword?.errors?.minlength"
                  >
                    Password must be at least 6 characters.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Confirm password</label>
                <input
                  class="form-control"
                  type="password"
                  formControlName="confirmedPassword"
                  required
                />
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="
                    passwordForm.controls.confirmedPassword?.invalid &&
                    (passwordForm.controls.confirmedPassword?.dirty ||
                      passwordForm.controls.confirmedPassword?.touched)
                  "
                >
                  <div
                    *ngIf="
                      passwordForm.controls.confirmedPassword?.errors?.required
                    "
                  >
                    Password is required.
                  </div>
                  <div
                    *ngIf="
                      passwordForm.controls.confirmedPassword?.errors?.mustMatch
                    "
                  >
                    Password must match.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-sm btn-primary mt-4"
            [disabled]="!passwordForm.valid"
          >
            Update password
          </button>
        </form>

        <div class="alert alert-success mt-2" role="alert" *ngIf="passwordChanged">
          Password changed successfully.
        </div>
      </div>
    </div>
  </div>
</div>
