.badge-soft-info {
  color: #00b8d9;
  background-color: #ccf1f7;
}

.badge-soft-success {
  color: #36b37e;
  background-color: #d7f0e5;
}

.product-subtitle {
  color: #8492a6;
}

.product-description {
  color: #8492a6;
}

.text-sm {
  font-size: 0.875rem !important;
}

.product-characteristic {
  color: #8492a6;
}

.carousel-photo {
  height: 40vh;
  object-fit: cover;
}

.fa-eye {
  color: #6e00ff;
}
