.item-card9-icons {
  position: absolute;
  top: 0;
  right: 5px;
}

img {
  height: 25vh;
}

.ad-price {
  font-size: medium;
}

.fa-heart-o {
  color: #bb00ff;

  &:hover {
    cursor: pointer;
    color: blue;
    transition: all ease-in 0.3s;
  }
}

.card:hover {
  cursor: pointer;
  transition: all ease-in 0.3s;
  transform: translateY(-3px) !important;
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
}

.isInWishlist {
  color: red;
}
